Flask==0.10.1
Jinja2==2.7.3
MarkupSafe==0.23
Theano==0.7.0
Werkzeug==0.10.4
argparse==1.2.1
distribute==0.6.24
gunicorn==19.3.0
itsdangerous==0.24
nltk==3.0.3
numpy==1.9.2
pandas==0.16.2
python-dateutil==2.4.2
pytz==2015.4
scikit-learn==0.16.1
scipy==0.15.1
six==1.9.0
wsgiref==0.1.2
